# ignore:
.settings/
Drivers/

# ignore các file có đuôi:
*.cproject
*.project
*.mxproject
*.ld
*.launch
*.bin
*.elf
*.asm
*.map
*.list
*.mk
*.pdsbak
*.Admin

# ignore các file sau:
**/makefile
**/objects
**/sources

# ignore ngoại trừ main.c
Core/Src/!main.c
Core/Inc/!main.h
Core/Startup/